.button--main{
    width: 190px;
    margin: 0 auto;
    border: none;
    display: block;
    background-color: #e58e13;
    color: white;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
    padding: 5px;
    font-weight: bolder;
}